<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: html_head(title='Sellers')}"></head>

<head>
   <link rel="stylesheet" th:href="@{/css/home.css}" />
</head>

<body class="vh-100 col p-2 bg-secondary">
   <div class="m-1 row p-0 h-100 gap-2">
      <div th:replace="~{fragments::nav}"></div>
      <div id="cont" class="col h-100 p-3">
         <div class="cont-table container rounded mh-50">
            <table class="table table-no-color table-responsive">
               <thead>
                  <tr>
                     <th scope="col">Name</th>
                     <th scope="col">User email</th>
                     <th scope="col">Phone</th>
                     <th scope="col">Birth date</th>
                     <th scope="col">Options</th>
                  </tr>
               </thead>
               <tbody>
                  <tr th:each="seller: ${sellers}">
                     <td th:text="${seller.getName}"></td>
                     <td th:text="${seller.getEmail}"></td>
                     <td th:text="${seller.getPhone}"></td>
                     <td th:text="${seller.getBirthdate}"></td>
                     <td>
                        <div class="option-button">
                           ...
                           <div class="option-menu hide">
                              <!-- <input th:value="@{seller.getId}" hidden /> -->
                              <a class="link-menu"
                                 th:onclick="'javascript:deleteSell(\'' + ${seller.getId} + '\');'">Delete</a>
                              <a class="link-menu" th:href="@{/seller/update/{id}(id=${seller.getId})}">Update</a>
                           </div>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
   <script>
      function deleteSell(seller) {
         const requestOptions = {
            method: "DELETE",
            header: {
               'Content-Type': "application/json"
            },
         }

         fetch(`/seller/${seller}`, requestOptions)
            .then(response => response.json())
            .then(data => console.log(data))
      }


      document.addEventListener('click', event => {

         const targetButton = event.target.closest(".option-button");
         const clickedMenu = event.target.closest(".option-menu");

         if (targetButton) {
            const actlmenuElement = targetButton.querySelector('.option-menu');
            if (!actlmenuElement?.contains(event.target))
               actlmenuElement?.classList.toggle('hide');

            document.querySelectorAll(".option-menu:not(.hide)").forEach(menuElement => {
               if (menuElement !== actlmenuElement) {
                  menuElement.classList.add('hide');
               }
            });

         }

         if (!targetButton && !clickedMenu) {
            document.querySelectorAll(".option-menu:not(.hide)").forEach(menuElement => {
               if (!menuElement.contains(event.target)) {
                  menuElement.classList.add("hide");
               }
            })
         }
      });

   </script>
</body>

</html>