@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

* {
   font-family: 'Mooli', sans-serif;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   background-color: #707070;
   color: rgb(90, 90, 90);
}

.lineer {
   border-radius: 1rem;
   border: solid 2px #70707079;
}

.main {
   h2 {
      padding: 1rem;
   }

   input {
      padding: 0.5rem 1rem;
      border-radius: 0.4rem;
      border: solid 2px rgba($color: #707070, $alpha: 0.3);

      &:focus {
         outline: 0.01rem solid rgba(135, 181, 250, 0.541);

      }

      &::placeholder {
         opacity: 0.2;
      }

   }

   .button-div {
      display: flex;
      justify-content: center;
   }

}


.my-btn {
   margin-top: 1rem;
   padding: 0.2rem 1rem;
   border: none;
   border-radius: 0.5rem;
}

.inputs {
   position: relative;
   min-width: 40rem;
   display: flex;
   padding: 2rem 0;
   gap: 0.8rem;
   flex-wrap: wrap;

   div {
      width: 30%;
      display: flex;
      flex-grow: 1;
      padding: 1rem;
      flex-direction: column;
      margin: auto;
      position: relative;

      span {
         padding: 10px;
         left: 1rem;
         pointer-events: none;
         position: absolute;
         transition: 0.2s;
      }

      input:valid~span,
      input:focus~span {
         font-size: 0.9rem;
         transform: translateX(0.2rem) translateY(-2.3rem);
      }
   }
}